.cab-booking-form {
  background-color: rgb(140, 163, 177);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.options button {
  background-color: #4caf93;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options button.selected {
  background-color: #45a049;
}

.plan-options {
  margin-top: 20px;
}

.plan-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.plan-buttons button {
  background-color: #50db34;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan-buttons button.selected {
  background-color: #29b960;
}

.warning {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.bus-search {
  margin-top: 20px;
}

.bus-search h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
